namespace: meows

images:
- name: ghcr.io/cybozu-go/meows-controller
  newTag: 0.22.0

labels:
- includeSelectors: true
  pairs:
    app.kubernetes.io/name: meows
    app.kubernetes.io/component: slack-agent

resources:
- manifests.yaml
