namespace: meows

images:
- name: ghcr.io/cybozu-go/meows-controller
  newTag: 0.14.0

commonLabels:
  app.kubernetes.io/name: meows
  app.kubernetes.io/component: slack-agent

resources:
- manifests.yaml
