namespace: meows

images:
- name: quay.io/cybozu/meows-controller
  newTag: 0.5.0

namePrefix: meows-

commonLabels:
  app.kubernetes.io/name: meows
  app.kubernetes.io/component: controller

resources:
- certificate.yaml
- deployment.yaml
- leader_election_role_binding.yaml
- leader_election_role.yaml
- role_binding.yaml
- role.yaml
- service_account.yaml
- service.yaml
- webhook.yaml

configurations:
- kustomizeconfig.yaml

patchesStrategicMerge:
- webhook_patch.yaml

# the following config is for teaching kustomize how to do var substitution
vars:
# [CERTMANAGER] To enable cert-manager, uncomment all sections with 'CERTMANAGER' prefix.
- name: CERTIFICATE_NAMESPACE # namespace of the certificate CR
  objref:
    kind: Certificate
    group: cert-manager.io
    version: v1
    name: serving-cert # this name should match the one in certificate.yaml
  fieldref:
    fieldpath: metadata.namespace
- name: CERTIFICATE_NAME
  objref:
    kind: Certificate
    group: cert-manager.io
    version: v1
    name: serving-cert # this name should match the one in certificate.yaml
- name: SERVICE_NAMESPACE # namespace of the service
  objref:
    kind: Service
    version: v1
    name: webhook-service
  fieldref:
    fieldpath: metadata.namespace
- name: SERVICE_NAME
  objref:
    kind: Service
    version: v1
    name: webhook-service
