name: release
on:
  push:
    tags:
      - 'v*'
jobs:
  image:
    name: Push images to quay.io
    runs-on: ubuntu-20.04
    env:
      IMAGE_PREFIX: quay.io/cybozu/
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v2
        with:
          go-version: 1.16
      - name: Log in quay.io
        run: |
          echo ${{ secrets.QUAY_PASSWORD }} | docker login -u ${{ secrets.QUAY_USER }} --password-stdin quay.io
      - run: make setup
      - run: make image
      - run: make tag push IMAGE_TAG=${GITHUB_REF#refs/tags/v}
      - run: make tag push IMAGE_TAG=latest
        if: ${{ contains(github.ref, '-') }}
  release:
    name: Release on GitHub
    needs: image
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - name: Create release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: Release ${{ github.ref }}
          body: |
            See [CHANGELOG.md](./CHANGELOG.md) for details.
          draft: false
          prerelease: ${{ contains(github.ref, '-') }}
